* {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

body {
    background-color: #F3F5FC;
}

header {
    background: transparent;
    margin: 1% 0;
    padding: 10px;
}

header img {
    height: 48px;
    width: 31px;
}

main {
    display: flex;
    margin-left: 50px;
    margin-bottom: 20px;
} 


.Contenedor_textoencriptar {
    padding: 10px;
    width: 60%;
}

.Contenedor_textoencriptar img , .Contenedor_textoencriptar p {
    display: inline-block;
    font-size: 12px;
}

.Contenedor_textoencriptar textarea,
.Contenedor_resultado textarea {
    background: transparent;
    width: 100%;
    resize: none;
    color: #0A3871;
    border: none;
    outline: none;
    height: 350px;
}

.botones {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botones button {
    margin: 0 5%;
}

.botonencriptar {
    border: none;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    order: 0;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: white;
}

.botondesencriptar {
    border: none;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border-radius: 24px;
    order: 0;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.botonencriptar:hover, .botondesencriptar:hover{
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
  }

.Contenedor_resultado {
    padding: 10px;
    width: 30%;
    margin: 0 auto;
    background-image: url("imagenes/muñeco.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botoncopiar{
    border: none;
    padding: 24px;
    gap: 8px;
    background: #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: white;
}

.botoncopiar:hover {
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
  }

footer {
    position: absolute;
    width: 100%;
    color: #495057;
    bottom: 5px;
    text-align: center;
}

footer img {
    display: inline-block;
    height: 32px;
    width: 32px;
}

footer p {
    font-size: 12px;
}   

/* main {
    background-color: #F3F5FC;
}

.logo {
    margin: 2% 0 0 2%;
    width: 120px;
    height: 48px;
}

.Contenedor_textoencriptar {
    background-color: transparent;
    position: relative;
    top: 20px;
    left: 100px;
    bottom: 808px;
    right: 623px;
    width: 577px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

textarea {
    border: 2px;
    background-color: transparent  ;
    resize: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

.botones {
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    bottom: 100px;
}

.botonencriptar {
    border: none;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: white;
}
.botonencriptar:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
  }

.botondesencriptar {
    box-sizing: border-box;
     Auto layout 
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    Light gray 
    background: #D8DFE8;
    Dark blue/dark-blue-300
    border: 1px solid #0A3871;
    border-radius: 24px;
    Inside auto layout
    flex: none;
    order: 1;
}

.botondesencriptar:hover {
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
  }

.botoncopiar{
    position: absolute;
    width: 100px;
    height: 67px;
    left: 900px;
    bottom: 200px;
    border: none;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: white;
}

.botoncopiar:hover {
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
  }

.resultadovacio {
    position: absolute;
    border-radius: 50px;
    width: 400px;
    bottom: 40px;
    top: 40px;
    right: 40px;
    background: #FFFFFF;
    text-align: center;
}

.muñeco {
    position: absolute;
    width: 336px;
    height: 304px;
    left: 32px;
    right: 32px;
    top: 200px;
}

.Mensaje {
    position: absolute;
    width: 300px;
    height: 18px;
    left: 240px;
    bottom: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

footer {
    position: absolute;
    color: #495057;
    text-align: center;
    font-size: 12px;
    bottom: 20px;
    left: 30%;
    right: 30%;
}

footer img {
    height: 32px;
    width: 32px;
}

.Contenedor_resultado{
        background-color: #F3F5FC;
        position: relative;
        top: -30px;
        left: 630px;
        width: 577px;
        height: 48px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        color: #0A3871;
}
textareaderecha{
    border: 2px;
    background-color: #F3F5FC;
    resize: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    border: 5px;
} */