* {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

body {
    background-color: #F3F5FC;
}

header {
    background: transparent;
    margin: 1% 0;
    padding: 10px;
}

header img {
    height: 48px;
    width: 31px;
}

main {
    display: flex;
    margin-left: 50px;
    margin-bottom: 20px;
} 


.Contenedor_textoencriptar {
    padding: 10px;
    width: 60%;
}

.Contenedor_textoencriptar img , .Contenedor_textoencriptar p {
    display: inline-block;
    font-size: 12px;
}

.Contenedor_textoencriptar textarea,
.Contenedor_resultado textarea {
    background: transparent;
    width: 100%;
    resize: none;
    color: #0A3871;
    border: none;
    outline: none;
    height: 350px;
}

.botones {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botones button {
    margin: 0 5%;
}

.botonencriptar {
    border: none;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    order: 0;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: white;
}

.botondesencriptar {
    border: none;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border-radius: 24px;
    order: 0;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.botonencriptar:hover, .botondesencriptar:hover{
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
  }

.Contenedor_resultado {
    padding: 10px;
    width: 30%;
    margin: 0 auto;
    background-image: url("imagenes/muneco.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botoncopiar{
    border: none;
    padding: 24px;
    background: #0A3871;
    border-radius: 24px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color: white;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}


.botoncopiar:hover {
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
  }

footer {
    position: absolute;
    width: 100%;
    color: #495057;
    bottom: 5px;
    text-align: center;
}

footer img {
    display: inline-block;
    height: 32px;
    width: 32px;
}

footer p {
    font-size: 12px;
}   
